  body {
background-color: rgb(49, 49, 49);
display: flex;
justify-content: center;
align-items: center;
margin-right: 400px;
margin-top: 70px;

  }
/* }
table{
    position: absolute;
 
    right: 50px;
   width: 40%;
   height: 40%;
  color: beige;
  background-color: gray;
 
}
tr {
    border: black;
}
th{
    border: black solid ;
}
 */
